<ion-view view-title="User profile">
	<ion-content>
		<form name="ProfileCtrl.detailsForm" ng-submit="ProfileCtrl.updateProfile(ProfileCtrl.user)" novalidate>
			<div class="list">
				<div class="item item-divider">
					Personal
				</div>
				<label class="item item-input">
          <span class="input-label">Email</span>
          <span>{{ProfileCtrl.user.email}}</span>
        </label>
				<label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="ProfileCtrl.user.name" required>
        </label>
				<label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="ProfileCtrl.user.lastname">
        </label>
				<div class="item item-divider">
					Location
				</div>
				<div class="item item-input item-button-right">
          <span class="input-label" required>Street</span>
          <input name="street" type="text" ng-model="ProfileCtrl.user.address.street">
					<button type="button" class="button button-outlined" ng-click="ProfileCtrl.geolocate()"><i class="icon ion-pinpoint"></i></button>
        </div>
				<label class="item item-input">
          <span class="input-label" required>City</span>
          <input type="text" ng-model="ProfileCtrl.user.address.city">
        </label>
				<label class="item item-input">
          <span class="input-label" required>Country</span>
          <input type="text" ng-model="ProfileCtrl.user.address.country">
        </label>
				<div class="item item-divider">
					Extra
				</div>
				<ion-checkbox ng-model="ProfileCtrl.user.contractor">I want to offer my service</ion-checkbox>
				<label class="item">
          <button class="button button-block button-calm" ng-disabled="ProfileCtrl.detailsForm.$invalid || !ProfileCtrl.detailsForm.$dirty" type="submit">Save details</button>
        </label>
			</div>
		</form>
	</ion-content>
</ion-view>