<ion-view view-title="Search">
	<ion-content>
		<div class="list list-inset">
			<form ng-submit="SearchCtrl.search()">
				<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="SearchCtrl.address" ng-value="SearchCtrl.address" ng-change="SearchCtrl.clear()">
				</label>
			</form>
			<div class="item">
				<label> Distance:
				<select name="singleSelect" ng-model="SearchCtrl.distance">
					<option value="1000">1km</option>
					<option value="5000" ng-selected="true">5km</option>
					<option value="10000">10km</option>
					<option value="50000">50km</option>
					<option value="100000">100km</option>
				</select>
				</label>
				<button class="button button-calm" ng-show="isAuthenticated" ng-click="SearchCtrl.setHome()"><i class="icon ion-home"></i></button>
				<button class="button button-positive" ng-click="SearchCtrl.search()"><i class="icon ion-search"></i></button>
				<button class="button button-assertive" ng-click="SearchCtrl.geolocate()"><i class="icon ion-pinpoint"></i></button>
				<button class="button button-balanced" ng-click="SearchCtrl.openMap()" ng-disabled="!SearchCtrl.coordinates"><i class="icon ion-map"></i></button>
			</div>
		</div>
		<ion-list>
			<div class="item item-divider">
				<span>{{isAuthenticated?"Private":"Public"}}<span> Search results
			</div>
			<ion-item ng-show="SearchCtrl.items.length==0 && !SearchCtrl.clean">No results found</ion-item>
			<ion-item collection-repeat="item in SearchCtrl.items" class="item-thumbnail-left">
				<img src="https://placehold.it/100x100">
				<h2>{{item.name + " " + item.lastname | capitalize}}</h2>
				<p>{{item.location.coordinates}}</p>
				<a>{{item.email}}</a>
				<ion-option-button class="button-assertive" ng-click="SearchCtrl.delete(item)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>